
<div class="container">
  <div class="text-center details mt-5">
        <div class="main-title" id="articles">
            <h2>Categories of The Month</h2>
        </div>
    <p class="text-muted">
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="row">

    <div class="col-md-4">
      <a href="#" routerLink="/shop/category/men's clothing">
        <img src="assets/img/men.jpg" class="img-fluid" alt="cat">
      </a>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <span>Men's Clothing</span>
        <button class="btn btn-outline-success d-block" routerLink="/shop/category/men's clothing">Explore</button>
      </div>
    </div>

    <div class="col-md-4">
      <a href="#" routerLink="/shop/category/women's clothing">
        <img src="assets/img/women.jpg" class="img-fluid" alt="cat">
      </a>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <span>Women's Clothing</span>
        <button class="btn btn-outline-success d-block" routerLink="/shop/category/women's clothing">Explore</button>
      </div>
    </div>

    <div class="col-md-4">
      <a href="#" routerLink="/shop/category/jewelery">
        <img src="assets/img/jewel.jpg" class="img-fluid" alt="cat">
      </a>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <span>Jewelry</span>
        <button class="btn btn-outline-success d-block" routerLink="/shop/category/jewelery">Explore</button>
      </div>
    </div>
  </div>

</div>
