<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row d-flex caro">
        <div class="col-md-6 d-flex align-items-center justify-content-center inner-caro">
          <div>
            <h3>The <span>Shop</span></h3>
            <p class="text-muted">
              Where You Find Whatever You Want
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <img src="assets/img/banner_img_01.jpg" class="d-block w-75 m-auto" alt="...">
        </div>
      </div>
  </div>

  <div class="carousel-item">
    <div class="row caro">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div>
          <h3>The <span>Shop</span></h3>
          <p class="text-muted">
            Where You Find Whatever You Want
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/img/banner_img_02.jpg" class="d-block w-75 m-auto" alt="...">
      </div>
    </div>
  </div>

  <div class="carousel-item">
    <div class="row caro">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div>
          <h3>The <span>Shop</span></h3>
          <p class="text-muted">
            Where You Find Whatever You Want
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/img/banner_img_03.jpg" class="d-block w-75 m-auto" alt="...">
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true">
      <i class="fas fa-chevron-left"></i>
    </span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true">
      <i class="fas fa-chevron-right"></i>
    </span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
